<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>

<body>


    <div id="app">
        <h1>TODO LIST</h1>
        <ul>
            <li v-for="elemento,i in coseDaFare">
                <i class="fa-solid fa-x" @click="fatto(i)"></i>
                <span>{{elemento}}</span>
            </li>
        </ul>
        <form @submit.prevent="aggiungiAllaLista">
            <input type="text" placeholder="Altro da fare?" v-model="altroDaAggiungere">
            <button type="sumbit">Invia</button>
        </form>


    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./script.js"></script>
</body>

</html>